* {
    margin:0;
    padding:0px;
}

html,
body {
    height: 100%;
    width:90%;
    margin: auto;
    overflow: scroll;
}

#container {
    top:0;

}
#content {

}
#footer{
    position: fixed;
    bottom:0;
    left:0;
    background-color: #00007f;
    width:100%;
    height: 120px;
    color:#f4fef4;
    

}
body{
    background-color: #f4fef4;
    font-family: 'Helvetica Neue', serif;
    font-size: 20px;
    color: #00007f;
    
}
h1 {
    color: #7f7fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #00007f;
    font-size: 64px;
    padding-bottom: 50px;
} 
h2 {
    color: #7f7fff;
    font-size: 40px;
    padding-bottom: 20px;
} 

.meet-img {
    position:relative;
    top:50%;
    overflow:auto;
    padding-left: 20px;

}
.alignLeft{
    float: left;
    padding-left: 30px;
}
.alignRight{
    float: right;
    padding-right:60px;
}
.clearRight {
    clear: right;
}
.clearLeft {
    clear: left;
}
#ft,
.clear {
    clear: both;
    
}