* {
    margin:0;
    padding:0px;
}

html,
body {
    height:100%;
    width:100%;
    margin: auto;
}
#content {
    margin-left: 30px;
    margin-right:30px;
}
#footer{
    position:fixed;
    bottom:0;
    left:0;
    background-color: #00007f;
    width:100%;
    height: 120px;
    color:#f4fef4;
    

}
#container{
    top:0;
    background-color: #f4fef4;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 20px;
    color: #00007f;
    
}
h1 {
    color: #7f7fff;
    
    padding-bottom: 50px;
    font-family: 'Bebas Neue',sans-serif;
} 
h2 {
    color: #7f7fff;
    font-size: 40px;
    padding-bottom: 20px;
    padding-top:30px;
} 

#meet-img {
    position:relative;
    top:50%;
    overflow:auto;

}
.alignLeft{
    float: left;
    padding-left: 30px;
}
.alignRight{
    float: right;
    padding-right:60px;
}
.clearRight {
    clear: right;
}
.clearLeft {
    clear: left;
}
#ft,
.clear {
    clear: both;
}

#welcome {
    position:relative;
    color:#9fbb9f;
    max-width:750px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #79797a;
    font-size: 50px;
    padding-left: 30px;
    
}
.top-left {
    position: absolute;
    top: 10px;
    left: 50px;
    overflow:hidden;
}